<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue js Exercise</title>
    
</head>
<body>
    <div id="app">
        <div class="row">
            <input v-model.number="num1" type="number"/>
            <span>+</span>
            <input v-model.number="num2" type="number"/>
            <span>=</span>
            <span>{{num1 + num2}}</span>
        </div>
        <div class="row second">
            <select v-model="name">
                <option>Carne Asada</option>
                <option>Pollo</option>
                <option>Bean</option>
                <option>Al Pastor</option>
            </select>
            <p v-if="name">My favorite kind of taco is {{name}} </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script src="./index.js"></script>
</body>
</html>